@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/text.css");
}
<head>
    <title> </title>
</head>

<div class="Tables">
    <h3>Books data table</h3>
    @{
        var book = new TableBooks();
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);
    }

    <div id="gridContent">
        <text style="margin: 10px">@Html.ActionLink("All books", "Index", "Home")</text>

        @grid.GetHtml(
        tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        columns: grid.Columns(
        grid.Column("ID", "Id"),
        grid.Column("Author", "Author"),
        grid.Column("Title", "Title"),
        grid.Column(header: " ", format: (item) => item.GetSelectLink("edit")),
        grid.Column(header: " ", format: @<text>@Html.ActionLink("delete", "Delete", "Home", new { id = item.ID }, null)</text>))
        )
        @using System.Data.Linq;

        @if (grid.HasSelection)
        {
            using (DataClassesLibrartDataContext context = new DataClassesLibrartDataContext())
            {
                int i = (int)grid.SelectedRow[1];
                book = context.TableBooks.Where(x => x.Id == i).Single<TableBooks>();

                using (Html.BeginForm("Insert", "Home"))
                {
                    <b>Id</b> @Html.Label("Data", @book.Id.ToString()) <br />
                    @Html.Hidden("Data", @book.Id)
                    <b>Author</b><br />   @Html.TextBox("Data", @book.Author) <br />
                    <b>Title</b><br /> @Html.TextBox("Data", @book.Title) <br />
                    <input type="submit" value="Insert" />
                }
            }
        }
    </div>
    <div id="submit" style="margin: 10px">
        @using (Html.BeginForm("Index", "Creating"))
        {
            <input type="submit" value="Add new book" />
        }
    </div>
</div>